/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #1d2130;
  --secondary-text-color: #1d2130;
  --primary-green: #70c174;
  --primary-light: #eff7f2;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

.primary-button {
  border: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: var(--primary-green);
  padding: 16px 32px;
  border-radius: 4px;
  color: #fff;
}

.secondary-button {
  border: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: var(--primary-bg-color);
  color: #1d2130;
  padding: 16px 32px;
  border-radius: 4px;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
.site-header {
  padding: 12px 0;
  background-color: var(--primary-bg-color);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  display: flex;
}

.logo__img {
  max-width: 130px;
  width: 100%;
  height: auto;
}

.sitenav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.sitenav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.sitenav__link {
  text-decoration: none;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.site-header__donate-btn {
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--primary-bg-color);
  padding: 12px 32px;
  border-radius: 4px;
}

/* HERO */
.hero {
  background: url("../images/hero-bg.png") no-repeat center/cover;
  height: calc(100vh - 51px);
  padding: 128px 0 64px;
  --text-color: #fff;
  color: var(--text-color);
}

.hero__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__title {
  line-height: 1.2;
  font-size: 64px;
  color: var(--text-color);
  max-width: 640px;
  margin-bottom: 48px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: auto;
}

.hero__play-btn {
  border: none;
  background-color: transparent;
  color: var(--text-color);
}
.hero__play-btn-inner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.hero__bottom-line {
  display: inline-block;
  background-color: #e5e5e5;
  height: 1px;
  flex-grow: 1;
}

.about {
  padding: 96px 0;
}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__content {
  padding-left: 96px;
  max-width: 610px;
  width: 100%;
}

.about__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative;
}
.about__title::before {
  content: "";
  display: inline-block;
  background-color: var(--text-color);
  width: 72px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: -96px;
}

.about__heading {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
}

.about__desc {
  margin-bottom: 48px;
  color: var(--secondary-text-color);
}

.about__video {
  max-width: 480px;
  width: 100%;
  height: 580px;
  background: url("../images/index-about-bg.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__video-play-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.about__video-play-btn img {
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
}

.supporters {
  padding: 10px 0 64px;
}
.supporters--about {
  background-color: #eff7f2;
}

.supporters__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.supporters__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.supporters__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.what-we-do {
  padding: 96px 0;
  background-color: var(--primary-light);
}

.what-we-do__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.what-we-do__content {
  max-width: 608px;
  padding-left: 96px;
}

.what-we-do__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative;
}
.what-we-do__title::before {
  content: "";
  display: inline-block;
  background-color: var(--text-color);
  width: 72px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: -96px;
}

.what-we-do__subtitle {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.what-we-do__desc {
  margin-bottom: 32px;
}

.what-we-do__heading {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.what-we-do__list {
  border-left: 1px solid #e5e5e5;
  padding-left: 24px;
}

.what-we-do__item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.what-we-do__item:not(:last-child) {
  margin-bottom: 24px;
}
.what-we-do__item:first-child::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/icon-home.svg") no-repeat center/contain;
}
.what-we-do__item:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/icon-grass.svg") no-repeat center/contain;
}
.what-we-do__item:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/icon-wave.svg") no-repeat center/contain;
}
.what-we-do__item:last-child::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/icon-dog.svg") no-repeat center/contain;
}

.projects {
  padding: 96px 0;
}

.projects__titles {
  padding-left: 96px;
  max-width: 640px;
  margin-bottom: 65px;
}

.projects__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative;
}
.projects__title::before {
  content: "";
  display: inline-block;
  background-color: var(--text-color);
  width: 72px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: -96px;
}

.projects__subtitle {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 700;
}

.projects__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.card-projects {
  max-width: 411px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.card-projects::before {
  content: "";
  display: inline-block;
  background-color: #0b0706;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  inset: 0;
}

.card-projects__img {
  width: 100%;
  height: auto;
}

.card-projects__content {
  padding: 80px 48px 48px;
  --text-color: #fff;
  position: absolute;
  z-index: 2;
  inset: 0;
  display: inline-flex;
  flex-direction: column;
}

.card-projects__heading {
  color: var(--text-color);
  font-size: 28px;
  margin-bottom: 16px;
}

.card-projects__desc {
  color: var(--text-color);
  margin-bottom: auto;
}

.card-projects__show-link {
  margin-right: auto;
}

.index-statistics {
  padding: 96px 0;
  background-color: #000;
  --text-color: #fff;
  color: var(--text-color);
}

.index-statistics__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index-statistics__content {
  max-width: 610px;
}

.index-statistics__title {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.index-statistics__text {
  opacity: 0.6;
  margin-bottom: 32px;
}

.index-statistics__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.index-statistics__item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
}
.index-statistics__item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 4px;
}
.index-statistics__item--trees::before {
  background-color: #bef3c0;
}
.index-statistics__item--cleanliness::before {
  background-color: #ac94f1;
}
.index-statistics__item--helping::before {
  background-color: #fff0ca;
}
.index-statistics__item--animal-safety::before {
  background-color: #f9cf64;
}
.index-statistics__item--feeding::before {
  background-color: #f38fbf;
}

/* JOIN */
.join {
  padding: 96px 0;
}

.join__inner {
  background: url("../images/join-bg.png") no-repeat center/cover;
  border-radius: 12px;
  padding: 93px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.join__heading {
  max-width: 630px;
  font-size: 48px;
  width: 100%;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 32px;
  color: #fff;
}

.join__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.news {
  margin-bottom: 96px;
}

.news__title {
  line-height: 1.2;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.news__title::after {
  content: "";
  display: block;
  height: 1px;
  flex-grow: 1;
  background-color: #e5e5e5;
}

.news__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.card-news {
  max-width: 302px;
}

.card-news__img {
  margin-bottom: 16px;
}

.card-news__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.events {
  margin-bottom: 96px;
}

.events__title {
  line-height: 1.2;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.events__title::after {
  content: "";
  display: block;
  height: 1px;
  flex-grow: 1;
  background-color: #e5e5e5;
}

.events__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events__inner-part {
  border-radius: 8px;
  background-color: #bef3c0;
  padding: 32px 48px 40px 40px;
  display: flex;
  gap: 24px;
  min-height: 190px;
}

.events__date-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.events__date-title-inner {
  font-weight: 500;
  font-size: 16px;
}

.events__next-wrapper {
  max-width: 380px;
}

.events__next-title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  gap: 24px;
}
.events__next-title::after {
  content: "";
  display: inline-block;
  width: 44px;
  height: 2px;
  background-color: var(--text-color);
}

.events__next-subtitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.events__arrow-btn {
  border: none;
  background-color: var(--primary-bg-color);
  display: inline-block;
  cursor: pointer;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  align-self: center;
}

.hero-about {
  padding: 96px 0;
}

.hero-about__inner {
  padding-left: 96px;
}

.hero-about__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative;
}
.hero-about__title::before {
  content: "";
  display: inline-block;
  background-color: var(--text-color);
  width: 72px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: -96px;
}

.hero-about__content {
  display: flex;
  gap: 64px;
}
.hero-about__content-right {
  max-width: 496px;
}

.hero-about__subtitle {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 624px;
  width: 100%;
}

.hero-about__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.video-about__inner {
  background: url("../images/video-about-bg.png") no-repeat center/cover;
  border-radius: 12px;
  height: 448px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-about__play-btn {
  border: none;
  background-color: transparent;
  border-radius: 50%;
}
.video-about__play-btn img {
  width: 64px;
  height: 64px;
}

.mission-about {
  padding: 96px 0;
  background-color: #eff7f2;
}

.mission-about__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 96px;
}

.mission-about__part {
  max-width: 496px;
}

.mission-about__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.mission-about__subtitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
}

.awards-about {
  padding: 96px 0;
}

.awards-about__title {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.awards-about__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 0 90px;
}

.item-about {
  text-align: center;
}

.item-about__img {
  margin-bottom: 16px;
}

.item-about__year-text {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.item-about__heading {
  font-weight: 700;
  font-size: 16px;
}

.item-about__country-name {
  font-size: 12px;
  font-weight: 500;
}

/* HERO */
.hero-donation {
  padding: 96px 0;
  background-color: #eff7f2;
}

.hero-donation__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 96px;
}

.hero-donation__donate {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 41px;
  font-weight: 700;
  position: relative;
}
.hero-donation__donate::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 2px;
  background-color: #1d2130;
  position: absolute;
  left: -96px;
  top: calc(50% - 2px);
}

.hero-donation__heading {
  color: #000;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 14px;
}

.hero-donation__text {
  color: #525560;
  margin-bottom: 32px;
}

.contribute-donation__inner {
  display: flex;
  align-items: center;
  gap: 96px;
  padding: 96px 0;
  border-bottom: 1px solid #525560;
}

.contribute-donation__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2px;
}

.contribute-donation__text {
  font-size: 16px;
  color: #525560;
}

.contribute-donation__list {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: 1px solid #e5e5e5;
}

.contribute-donation__item {
  padding: 8px 12px;
}

.how-use-donation {
  padding: 96px 0;
}

.how-use-donation__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
}

.how-use-donation__heading {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 700;
}

.how-use-donation__text {
  padding: 0;
  margin: 0;
  max-width: 338px;
}

.site-footer {
  margin: 0;
  padding: 0;
  --text-color: #fff;
  padding: 96px 0;
  background-color: #000;
  color: var(--text-color);
}

.site-footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.site-footer__lists {
  display: flex;
  align-items: flex-start;
  gap: 88px;
}

.site-footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer__item h3 {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}
.site-footer__item:not(:last-child) {
  margin-bottom: 24px;
}

.site-footer__link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
}

.site-footer__right-title {
  margin: 0;
  font-size: 40px;
  max-width: 440px;
  line-height: 1.4;
  margin-bottom: 32px;
}

.site-footer__form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-footer__form-input {
  border: 1px solid rgba(235, 240, 249, 0.3019607843);
  background-color: transparent;
  border-right: none;
  padding: 22px 24px;
  border-radius: 4px 0 0 4px;
  margin: 0;
  min-width: 400px;
  outline: none;
  color: var(--text-color);
}

.site-footer__form-btn {
  border: none;
  padding: 23px 32px;
  border-radius: 4px;
  border-radius: 4px;
  margin-left: -3px;
}/*# sourceMappingURL=main.css.map */