/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #1d2130;
  --secondary-text-color: #1d2130;
  --primary-green: #70c174;
  --primary-light: #eff7f2;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  margin-top: 51px;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

.primary-button {
  border: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: var(--primary-green);
  padding: 16px 32px;
  border-radius: 4px;
  color: #fff;
}

.secondary-button {
  border: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: var(--primary-bg-color);
  color: #1d2130;
  padding: 16px 32px;
  border-radius: 4px;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
.site-header {
  padding: 12px 0;
  background-color: var(--primary-bg-color);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  display: flex;
}

.logo__img {
  max-width: 130px;
  width: 100%;
  height: auto;
}

.sitenav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.sitenav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.sitenav__link {
  text-decoration: none;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.site-header__donate-btn {
  text-decoration: none;
}

/* HERO */
.hero {
  background: url("../images/hero-bg.png") no-repeat center/cover;
  height: calc(100vh - 51px);
  padding: 128px 0 64px;
  --text-color: #fff;
  color: var(--text-color);
}

.hero__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__title {
  line-height: 1.2;
  font-size: 64px;
  color: var(--text-color);
  max-width: 640px;
  margin-bottom: 48px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: auto;
}

.hero__play-btn {
  border: none;
  background-color: transparent;
  color: var(--text-color);
}
.hero__play-btn-inner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.hero__bottom-line {
  display: inline-block;
  background-color: #e5e5e5;
  height: 1px;
  flex-grow: 1;
}

.about {
  padding: 96px 0;
}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__content {
  padding-left: 96px;
  max-width: 610px;
  width: 100%;
}

.about__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative;
}
.about__title::before {
  content: "";
  display: inline-block;
  background-color: var(--text-color);
  width: 72px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: -96px;
}

.about__heading {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
}

.about__desc {
  margin-bottom: 48px;
  color: var(--secondary-text-color);
}

.about__video {
  max-width: 480px;
  width: 100%;
  height: 580px;
  background: url("../images/index-about-bg.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__video-play-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.about__video-play-btn img {
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
}

.supporters {
  padding: 10px 0 64px;
}

.supporters__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.supporters__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}

.supporters__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.what-we-do {
  padding: 96px 0;
  background-color: var(--primary-light);
}

.what-we-do__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.what-we-do__content {
  max-width: 608px;
  padding-left: 96px;
}

.what-we-do__title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative;
}
.what-we-do__title::before {
  content: "";
  display: inline-block;
  background-color: var(--text-color);
  width: 72px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: -96px;
}

.what-we-do__subtitle {
  line-height: 1.2;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.what-we-do__desc {
  margin-bottom: 32px;
}

.what-we-do__heading {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.what-we-do__list {
  border-left: 1px solid #e5e5e5;
  padding-left: 24px;
}

.what-we-do__item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.what-we-do__item:not(:last-child) {
  margin-bottom: 24px;
}
.what-we-do__item:first-child::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/icon-home.svg") no-repeat center/contain;
}
.what-we-do__item:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/icon-grass.svg") no-repeat center/contain;
}
.what-we-do__item:nth-child(3)::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/icon-wave.svg") no-repeat center/contain;
}
.what-we-do__item:last-child::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/icon-dog.svg") no-repeat center/contain;
}/*# sourceMappingURL=main.css.map */