/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #1d2130;
  --secondary-text-color: #1d2130;
  --primary-green: #70c174;
  --primary-light: #eff7f2;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

.primary-button {
  border: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: var(--primary-green);
  padding: 16px 32px;
  border-radius: 4px;
  color: #fff;
}

.secondary-button {
  border: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  background-color: var(--primary-bg-color);
  color: #1d2130;
  padding: 16px 32px;
  border-radius: 4px;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
.site-header {
  padding: 12px 0;
  background-color: var(--primary-bg-color);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.site-header--contact {
  background-color: #ebf0f9;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.logo {
  text-decoration: none;
  display: flex;
}

.logo__img {
  max-width: 130px;
  width: 100%;
  height: auto;
}

.nav-toggler {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  border: none;
  background-color: transparent;
  border-radius: 2px;
  display: none;
}
.nav-toggler.show {
  position: relative;
}
.nav-toggler.show .nav-toggler__inner {
  position: absolute;
}
.nav-toggler.show .nav-toggler__inner:first-child {
  transform: rotateZ(-135deg);
}
.nav-toggler.show .nav-toggler__inner:nth-child(2) {
  opacity: 0;
}
.nav-toggler.show .nav-toggler__inner:last-child {
  transform: rotateZ(135deg);
}
@media only screen and (max-width: 768px) {
  .nav-toggler {
    display: flex;
  }
}

.nav-toggler__inner {
  display: inline-block;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--secondary-text-color);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.sitenav {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: gap 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .sitenav {
    gap: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .sitenav {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 100vh;
    width: 65%;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 40px 0;
    gap: 10px;
    left: -100%;
    transition: left 0.5s ease, width 0.5s ease, padding 0.5s ease;
  }
  .sitenav.show {
    left: 0;
    transition: left 0.5s ease;
  }
}
@media only screen and (max-width: 768px) {
  .sitenav {
    width: 75%;
    padding: 40px 20px 0;
  }
}

.sitenav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .sitenav__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .sitenav__item {
    width: 100%;
  }
  .sitenav__item:not(:last-child) {
    padding-bottom: 9px;
    border-bottom: 1px solid #000;
  }
}

.sitenav__link {
  text-decoration: none;
  font-size: 14px;
  color: var(--secondary-text-color);
}
@media only screen and (max-width: 768px) {
  .sitenav__link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
}

.site-header__donate-btn {
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--primary-bg-color);
  padding: 12px 32px;
  border-radius: 4px;
}
@media only screen and (max-width: 768px) {
  .site-header__donate-btn {
    order: -1;
  }
}/*# sourceMappingURL=main.css.map */