@mixin for-headings($text) {
  line-height: 1.2;

  @if $text == h2 {
    font-size: 64px;
    color: var(--text-color);
  } @else if $text == h3 {
    font-size: 48px;
    font-weight: 700;
  } @else if $text == h4 {
    font-size: 40px;
    font-weight: 500;
  }
}

@mixin special-title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
