@mixin for-headings($text) {
  line-height: 1.2;
  transition: font-size 0.5s ease;

  @if $text == h2 {
    font-size: 64px;
    color: var(--text-color);

    @media only screen and (max-width: $tablet-l) {
      font-size: 56px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 48px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 28px;
    }
  } @else if $text == h3 {
    font-size: 48px;
    font-weight: 700;

    @media only screen and (max-width: $tablet-l) {
      font-size: 40px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 32px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 24px;
    }
  } @else if $text == h4 {
    font-size: 40px;
    font-weight: 500;

    @media only screen and (max-width: $tablet-l) {
      font-size: 32px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 24px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 20px;
    }
  } @else if $text == h5 {
    font-size: 56px;

    @media only screen and (max-width: $tablet-l) {
      font-size: 48px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 32px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 24px;
    }
  }
}

@mixin special-title {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media only screen and (max-width: $tablet) {
    font-size: 15px;
  }
}
