@import "mixins";
@import "variables";
@import "fonts";
@import "general";
@import "container";
@import "modal";

// BLOCKS
@import "blocks/header";
@import "blocks/hero-index";
@import "blocks/about-index";
@import "blocks/supporters";
@import "blocks/what-we-do-index";
@import "blocks/projects";
@import "blocks/statistics-index";
@import "blocks/join";
@import "blocks/news";
@import "blocks/events";
@import "blocks/hero-about";
@import "blocks/video-about";
@import "blocks/mission-about";
@import "blocks/awards-about";
@import "blocks/journey-about";
@import "blocks/team-about";
@import "blocks/hero-wwd";
@import "blocks/environment-wwd";
@import "blocks/top-news-media";
@import "blocks/info-contact";
@import "blocks/form";
@import "blocks/map-contact";
@import "blocks/hero-donation";
@import "blocks/contribute-donation";
@import "blocks/how-use-donation";
@import "blocks/project-prm";
@import "blocks/plans-prm";
@import "blocks/post-brm";
@import "blocks/hero-erm";
@import "blocks/about-erm";
@import "blocks/footer";
