.about-erm {
  padding: 96px 0;
}

.about-erm__inner {
  max-width: 768px;
  margin: 0 auto;
}

.about-erm__title {
  @include for-headings(h3);
  margin-bottom: 32px;
}

.about-erm__desc {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.about-erm__img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}
