.site-footer {
  margin: 0;
  padding: 0;
  --text-color: #fff;
  padding: 96px 0;
  background-color: #000;
  color: var(--text-color);
  transition: padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 64px 0;
  }

  @media only screen and (max-width: $tablet) {
    padding: 48px 0;
  }
}

.site-footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media only screen and (max-width: $desktop) {
    flex-wrap: wrap;
    gap: 20px;
  }

  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.site-footer__lists {
  display: flex;
  align-items: flex-start;
  gap: 88px;
}

.site-footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer__item {
  h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.site-footer__link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
}

.site-footer__right {
  @media only screen and (max-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
    gap: 20px;
  }

  @media only screen and (max-width: $tablet-l) {
    flex-wrap: wrap;
  }
}

.site-footer__right-title {
  max-width: 440px;
  margin: 0;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 32px;

  @media only screen and (max-width: $desktop) {
    display: block;
    max-width: 100%;
  }

  @media only screen and (max-width: $tablet) {
    text-align: center;
  }
}

.site-footer__form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  @media only screen and (max-width: $tablet) {
    width: 100%;
  }
}

.site-footer__form-input {
  border: 1px solid #ebf0f94d;
  background-color: transparent;
  border-right: none;
  padding: 22px 24px;
  border-radius: 4px 0 0 4px;
  margin: 0;
  min-width: 400px;
  outline: none;
  color: var(--text-color);

  @media only screen and (max-width: $tablet) {
    display: block;
    width: calc(100% - 135px);
    min-width: auto;
  }
}

.site-footer__form-btn {
  border: none;
  padding: 23px 32px;
  border-radius: 4px;
  border-radius: 4px;
  margin-left: -3px;
}
