.form-contact {
  padding: 96px 0;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.form-contact__fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &--submit {
    justify-content: center;
  }
}

.form-contact__field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-contact__field-label {
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 8px;
}

.form-contact__field-input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 4px 10px;
  border-radius: 4px;
}

.form-contact__field-message {
  resize: vertical;
  width: 100%;
  min-height: 150px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 20px;
}
