/* HEADER */
.site-header {
  padding: 12px 0;
  background-color: var(--primary-bg-color);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  &--contact {
    background-color: #ebf0f9;
  }
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  display: flex;
}

.logo__img {
  max-width: 130px;
  width: 100%;
  height: auto;
}

.sitenav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.sitenav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.sitenav__link {
  text-decoration: none;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.site-header__donate-btn {
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--primary-bg-color);
  padding: 12px 32px;
  border-radius: 4px;
}
