.hero-about {
  padding: 96px 0;
  transition: padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 64px 0;
  }

  @media only screen and (max-width: $tablet) {
    padding: 48px 0;
  }
}

.hero-about__inner {
  padding-left: 96px;

  @media only screen and (max-width: $tablet-l) {
    padding-left: 0;
  }
}

.hero-about__title {
  @include special-title;
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    background-color: var(--text-color);
    width: 72px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: -96px;

    @media only screen and (max-width: $tablet-l) {
      display: none;
    }
  }

  @media only screen and (max-width: $tablet-l) {
    text-align: center;
  }
}

.hero-about__content {
  display: flex;
  gap: 64px;

  @media only screen and (max-width: $tablet-l) {
    flex-direction: column;
    text-align: center;
  }

  &-right {
    max-width: 496px;

    @media only screen and (max-width: $tablet-l) {
      max-width: none;
    }
  }
}

.hero-about__subtitle {
  @include for-headings(h5);
  max-width: 624px;
  width: 100%;

  @media only screen and (max-width: $tablet-l) {
    max-width: none;
    text-align: center;
  }
}

.hero-about__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero-about__desc {
}
