.hero-wwd {
  padding: 96px 0;
  transition: padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 64px 0;
  }

  @media only screen and (max-width: $tablet) {
    padding: 48px 0;
  }
}

.hero-wwd__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media only screen and (max-width: $tablet-l) {
    flex-direction: column-reverse;
  }
}

.hero-wwd__content {
  padding-left: 96px;
  max-width: 690px;
  transition: padding-left 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding-left: 0;
  }

  @media only screen and (max-width: $tablet) {
    max-width: none;
  }

  @media only screen and (max-width: $mobile) {
    text-align: center;
  }
}

.hero-wwd__title {
  @include special-title;
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    background-color: var(--text-color);
    width: 72px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: -96px;

    @media only screen and (max-width: $tablet-l) {
      display: none;
    }
  }
}

.herp-wwd__subtitle {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 34px;
}
.hero-wwd__desc {
}
.hero-wwd__img {
}
