.hero-erm {
  padding: 96px 0;
  background-color: #eff7f2;
  transition: padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 64px 0;
  }

  @media only screen and (max-width: $tablet) {
    padding: 48px 0;
  }
}

.hero-erm__inner {
  max-width: 768px;
  margin: 0 auto;

  @media only screen and (max-width: $mobile) {
    text-align: center;
  }
}

.hero-erm__title {
  @include for-headings(h5);
  margin-bottom: 48px;
}

.hero-erm__info-wrapper {
  display: flex;
  align-items: center;
  gap: 12px 48px;
  flex-wrap: wrap;
}

.hero-erm__info-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}
