/* JOIN */
.join {
  padding: 96px 0;
}

.join__inner {
  background: url("../images/join-bg.png") no-repeat center / cover;
  border-radius: 12px;
  padding: 93px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.join__heading {
  max-width: 630px;
  font-size: 48px;
  width: 100%;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 32px;
  color: #fff;
}

.join__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
