.news {
  margin-bottom: 96px;
  transition: padding-bottom 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding-bottom: 64px;
  }

  @media only screen and (max-width: $tablet) {
    padding-bottom: 48px;
  }
}

.news__title {
  @include for-headings(h4);
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  gap: 24px;

  &::after {
    content: "";
    display: block;
    height: 1px;
    flex-grow: 1;
    background-color: #e5e5e5;
  }
}

.news__cards {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;

  @media only screen and (max-width: $tablet) {
    gap: 30px;
    text-align: justify;
  }
}

.card-news {
  max-width: 302px;
  position: relative;

  @media only screen and (max-width: $tablet) {
    max-width: 250px;
    width: 100%;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 100%;
  }
}

.card-news__link {
  position: absolute;
  inset: 0;
  display: inline-block;
}

.card-news__img {
  margin-bottom: 16px;
  border-radius: 10px;

  @media only screen and (max-width: $mobile) {
    width: 100%;
    height: auto;
  }
}

.card-news__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}
