.project-prm {
  padding: 96px 0;
}

.project-prm__inner {
  max-width: 832px;
  width: 100%;
  margin: 0 auto;
}

.project-prm__title {
  @include special-title;
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    background-color: var(--text-color);
    width: 72px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: -96px;
  }
}

.project-prm__subtitle {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 32px;
}

.project-prm__desc {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.project-prm__img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 48px;
}

.project-prm__heading {
  @include for-headings(h3);
  margin-bottom: 16px;
}

.project-prm__list {
  list-style-type: disc;
  font-weight: 700;
  margin-bottom: 16px;
  padding-left: 20px;
}
