.projects {
  padding: 96px 0;
  transition: padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 64px 0;
  }

  @media only screen and (max-width: $tablet) {
    padding: 48px 0;
  }

  &--wwd {
    padding-bottom: 0;

    .projects__title {
      text-align: center;

      &::before {
        display: none;
      }
    }

    .projects__subtitle {
      max-width: 700px;
      text-align: center;
      margin: 0 auto 64px;
    }
  }
}

.projects__titles {
  padding-left: 96px;
  max-width: 640px;
  margin-bottom: 65px;

  @media only screen and (max-width: $tablet-l) {
    padding-left: 0;
  }

  @media only screen and (max-width: $tablet) {
    max-width: none;
  }

  @media only screen and (max-width: $mobile) {
    text-align: center;
  }
}

.projects__title {
  @include special-title;
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    background-color: var(--text-color);
    width: 72px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: -96px;

    @media only screen and (max-width: $tablet-l) {
      display: none;
    }
  }
}

.projects__subtitle {
  @include for-headings(h3);
}

.projects__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media only screen and (max-width: $tablet-l) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card-projects {
  max-width: 411px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    background-color: #0b0706;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    inset: 0;
  }

  @media only screen and (max-width: $tablet-l) {
    max-width: 100%;
    height: 350px;
  }
}

.card-projects__img {
  width: 100%;
  height: auto;

  @media only screen and (max-width: $tablet-l) {
    height: 100%;
    object-fit: cover;
  }
}

.card-projects__content {
  padding: 80px 48px 48px;
  --text-color: #fff;
  position: absolute;
  z-index: 2;
  inset: 0;
  display: inline-flex;
  flex-direction: column;

  @media only screen and (max-width: $desktop) {
    padding: 40px;
  }

  @media only screen and (max-width: $tablet-l) {
    padding: 30px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 20px;
  }
}

.card-projects__heading {
  color: var(--text-color);
  font-size: 28px;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-projects__desc {
  color: var(--text-color);
  margin-bottom: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-projects__show-link {
  margin-right: auto;
}
