.supporters {
  padding: 10px 0 64px;

  &--about {
    background-color: #eff7f2;
  }
}

.supporters__title {
  @include special-title;
  white-space: nowrap;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 24px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.supporters__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 34px 24px;
  flex-wrap: wrap;
}
