.video-about {
  padding: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 50% 0 0;
    z-index: -1;
    background-color: #eff7f2;
  }
}

.video-about__inner {
  background: url("../images/video-about-bg.png") no-repeat center / cover;
  border-radius: 12px;
  height: 448px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-about__play-btn {
  border: none;
  background-color: transparent;
  border-radius: 50%;

  img {
    width: 64px;
    height: 64px;
  }
}
